$card-color-black: #000;
$card-color-red: #ce3f17; // color(srgb 0.803 0.247 0.09)
$card-color-green: #4dec5f; // color(srgb 0.3 0.92 0.37)
$card-color-blue: #4abdda; // color(srgb 0.29 0.737 0.851)


$archetype-color-wanderer: #939699; // color(srgb 0.576 0.584 0.596)

$archetype-color-warrior: $card-color-red; // color(srgb 0.803 0.247 0.09)
$archetype-color-shaman: $card-color-green; // color(srgb 0.3 0.92 0.37)
$archetype-color-trader: $card-color-blue; // color(srgb 0.29 0.737 0.851)

$archetype-color-knight: #ce469a; // color(srgb 0.804 0.275 0.6)
$archetype-color-ecologist: #a3ce46; // color(srgb 0.635 0.804 0.275)
$archetype-color-bard: #48bc8d; // color(srgb 0.282 0.733 0.549)

$archetype-color-diplomat: #c6cb47; // color(srgb 0.773 0.792 0.278)
$archetype-color-scientist: #5046ce; // color(srgb 0.314 0.275 0.804)
$archetype-color-zealot: #a646ce; // color(srgb 0.647 0.275 0.804)
