$card-color-black: #000;
$card-color-red: color(srgb 0.803 0.247 0.09);
$card-color-green: color(srgb 0.3 0.92 0.37);
$card-color-blue: color(srgb 0.29 0.737 0.851);


$archetype-color-wanderer: color(srgb 0.576 0.584 0.596);

$archetype-color-warrior: color(srgb 0.803 0.247 0.09);
$archetype-color-shaman: color(srgb 0.3 0.92 0.37);
$archetype-color-trader: color(srgb 0.29 0.737 0.851);

$archetype-color-knight: color(srgb 0.804 0.275 0.6);
$archetype-color-ecologist: color(srgb 0.635 0.804 0.275);
$archetype-color-bard: color(srgb 0.282 0.733 0.549);

$archetype-color-diplomat: color(srgb 0.773 0.792 0.278);
$archetype-color-scientist: color(srgb 0.314 0.275 0.804);
$archetype-color-zealot: color(srgb 0.647 0.275 0.804);
