$card-color-black: #000;
$card-color-red: #ce3f17;
$card-color-green: #4dec5f;
$card-color-blue: #4abdda;


$archetype-color-wanderer: #939699;

$archetype-color-warrior: $card-color-red;
$archetype-color-shaman: $card-color-green;
$archetype-color-trader: $card-color-blue;

$archetype-color-knight: #ce469a;
$archetype-color-ecologist: #a3ce46;
$archetype-color-bard: #48bc8d;

$archetype-color-diplomat: #c6cb47;
$archetype-color-scientist: #5046ce;
$archetype-color-zealot: #a646ce;
